body {
    display: flex;
    flex-direction: column;
}
.page-content {
    flex: 1 0 auto;
}
footer .extend {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 150px;
}
#sticky-footer {
    flex-shrink: 0;
}
footer {
    position: fixed;;
    background-color: black;
    color: black;
    height: 50px;
    bottom: 0px;
    width: 100%;
}
#footer-logo {
    height:100px;
    width:100%;
}
header {
    background-color: black;
    height: 50px;
}
.box1 {
    margin : 100px auto;
    width : 500px;
    height : 100px;
}
.container input#searchBar { 
    width: 500px;
    height : 50px;
    background: #fff;
    border-right:none;
    padding-left : 15px;
    color :  #000;
    font-size : 20px;
    border-radius: 10px;
    border: solid;
}
#logo {
    position: relative;
    width:500;
    height:160
}
#SearchButtonIcon{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background : black;
    color: white;
}
#SearchButtonIcon:hover {
    color : red;
}
.box2 {
    margin-top: 100px;
}
.row{
    text-align: center;
}
.intro_text {
    margin-top:10px;
    margin-left:120px;
    text-align: center;
    width: 200px;
    color: black;
}
#intro_search {
    color: black;
}
#intro_devil {
    width: 50px;
    height: 50px;
}
#intro_shopping {
    color: black;
}
