header .extend {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	height: 150px;
    
}

header {
    background-color: black;
    color: black;
}

#header-logo{
    width:  100px;
    height: 100px;
}

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

header .header-section {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search-input {
    padding-left: 20px;
}

.search-input .url-input-field {
    background-color: black;
    border: none;
    color: white;
    font-size: 14px;
    width: 250px;
    border-bottom: 1px solid white;
}

.search-btn {
    background-color: black;
    color: white;
    border: none;
}
header .header-section div {
    flex: 1;
    flex-basis: 300px;
}

.head-section {
	text-align: center;	
}

.picture-section{


}

.product-image {
    margin-top:10px;
	margin-left: 70px;
	width: 250px;
    height: 300px;
	border-radius: 5px;
}


.product-title {
    font-size: 30px;
}

.comp-logo-image {
    width: 180px;
    height: 100px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.article-list .article-categories {
    font-weight: 300;
    text-transform: uppercase;
    color: #9b9b9b;
    letter-spacing: 0.15em;
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
}

.article-list .article-categories > * {
    display: inline-block;
    margin-top: 0;
}

.article-list .article-categories > * + * {
    margin-left: 1em;
    position: relative;
}



.article-list .article-categories a:hover {
    color: black;
}

.article-list .article-date {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 1;
}

.article-list .article-date .updated {
    color: rgba(0, 0, 0, 0.2);
}

.article-list {
    position: relative;
    z-index: 1;
    max-width: 80rem;
    margin: 0;
}

.article-list:before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    transition: all 0.15s ease;
}

#tabs li {
    font-size: 24px;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 20%;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 80%;
}