
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Evil Corp</title>
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="container-fluid extend">
        <div class="row">
          <div class="col-md-12 head-section">
            <img src="img/evilcorp.png" alt="ecorp-logo" id="header-logo" />
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="product-info">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 picture-section">
              <img alt="jacket image" class="product-image" id="image-1" itemprop="image" src="img/jacket.jpg"></img>
            </div>
            <div class="col-md-8 info">
              <div class="row">
                <div class="col-md-12">
                  <h4>
                    <a target="_blank" class="product-title" href="https://smile.amazon.com/dp/B07WQ1R4L3">
                      <p class="title"><b>Wildorn Dover Premium Mens Ski Jacket - Designed in USA - Insulated Waterproof</b></p>
                    </a>
                  </h4>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="company-logo">
                          <img alt="amazon-logo" class="comp-logo-image" src="img/amazon.png"/>
                      </div>
                    </div>
                    <div class="col-md-8 company-name">
                      <b>A product of</b>
                        <a href="https://www.amazon.com">Amazon</a>
                    </div>
                  </div>                    
                </div>
                <div class="col-md-12 evil-rating">
                    <div class="Rating" aria-label="Rating of this item is 3 out of 5">
                        <p style="color: white"><b>Evil Rating: </b>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="company-details">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3">
                      <p>Company Info</p>
                  </div>
                  <div class="col-md-9">
                      <ul class="company-info">
                          <div class="company-detail">
                              <li class="dialog">ASAS</li>
                          </div>
                          <div class="company-detail">
                              <li class="dialog">ASAS</li>
                          </div>
                          <div class="company-detail">
                              <li class="dialog">ASAS</li>
                          </div>
                      </ul>
                      
                  </div>
              </div>
          </div>
      </div>

      <div class="company-articles">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3">
                      <p>Articles</p>
                  </div>
                  <div class="col-md-9">
                      <div class="row">
                          <div class="col-md-6">asd</div>
                          <div class="col-md-6">aass</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>