<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Evil Corp</title>
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

      <header>
          <div class="container-fluid extend">
              <div class="row">
                <div class="header-section">
                    <div class="search">
                        <div class="search-input">
                            <input type="text" name="url" id="url" size="25" class="url-input-field" placeholder="Paste any products on amazon here" />
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="logo">
                        <img src="img/evilcorp.png" alt="ecorp-logo" id="header-logo" />
                    </div>
                </div>                            
              </div>
          </div>
      </header>
      <div class="page-content">
          <div class="container-fluid product-section">
              <div class="row">
                  <div class="col-md-4 picture-section">
                      <img alt="jacket image" class="product-image" id="image1" itemprop="image" src="img/jacket.jpg" />
                  </div>
                  <div class="col-md-8 product-info">
                      <div class="row">
                          <div class="col-md-12 product-title">
                              <div class="row">
                                  <h2>
                                      <a target="_blank" class="product-title" href="https://smile.amazon.com/dp/B07WQ1R4L3">
                                          <b>Wildorn Dover Premium Mens Ski Jacket - Designed in USA - Insulated Waterproof</b>
                                      </a>
                                  </h2>
                              </div>
                          </div>
                      </div>
                      <div class="row price-section" style="margin-top:20px; margin-bottom: 30px;">
                          <div class="col-md-4 price">
                              Price: $40
                          </div>
                          <div class="col-md-4">
                              Categories: Clothings
                          </div>
                          <div class="col-md-4">
                              Analyzed on Amazon
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-6">
                              <p>A product of
                              
                                  <a href="https://www.amazon.com">
                                      <img alt="amazon-logo" class="comp-logo-image" src="img/amazon.png" />
                                  </a>
                              </p>
                          </div>
                          <div class="col-md-6 rating-box">
                              
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="container-fluid company-section">
              <div class="col-md-8" style="float:right" id="tabs">
                  <ul>
                    <li><a href="#tabs-1">Company Overview</a></li>
                    <li><a href="#tabs-2">Articles</a></li>
                    <li><a href="#tabs-3">Ratings &amp; Reviews</a></li>
                  </ul>
                  <div id="tabs-1">
                    <h2>Company Overview</h2>
                    <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
                  </div>
                  <div id="tabs-2">                     
                    <div class="article-list">
                        <article class="article">                          
                            <ul class="article-categories">
                                <li>
                                    <a href="/">Category 1</a>
                                </li>
                                <li>
                                    <a href="/">Category 1</a>
                                </li>
                            </ul>
                            <time class="article-date">October 17, 2008</time>
                            <h1 class="article-title">
                                <a href="post.html">One thing I was sure of, that my uncle Leo was definitely the hero of my childhood.</a>
                            </h1>
                            <div class="article-content">
                                <p>
                                    The smell of his
                                    <a href="gallery.html">"Old Spice"</a>
                                    cologne carried me back into that lost childhood more than the home movies did. My uncle didn't know it, but It was the sweet, cheap smell of car dealers that took me back, and made me dissolve into a dream of the past. Leo was the last dinosaur that smelled of cheap cologne.
                                </p>
                            </div>
                        </article>
                        <article class="article">
                            
                            <ul class="article-categories">
                                <li>
                                    <a href="/">Category 1</a>
                                </li>
                                <li>
                                    <a href="/">Category 1</a>
                                </li>
                            </ul>
                            <time class="article-date">October 17, 2008</time>
                            <h1 class="article-title">
                                <a href="post.html">And he believed in the American dream.</a>
                            </h1>
                            <div class="article-content">
                                <p>I was crazy about him, because he believed in miracles. And Even though he lived inside of life and sold Cadillacs, he always looked like a ten-year-old boy whose sleeves were too long. When I was ten, Leo gave me this great movie camera. And My mother always hoped I'd become the next Milton Berle. But dreams of houses, and cars, and fresh-cut lawns aren't dreams when they become real. And somehow I understood what my mother meant by "Good morning, Columbus." And even if my mother didn't like what I was doing with my life, I think she'd understand.</p>
                            </div>
                        </article>
                        <article class="article">
                            
                            <ul class="article-categories">
                                <li>
                                    <a href="/">Category 1</a>
                                </li>
                                <li>
                                    <a href="/">Category 1</a>
                                </li>
                            </ul>
                            <time class="article-date">October 17, 2008</time>
                            <h1 class="article-title">
                                <a href="post.html">When I was 11, I got this really weird earache that wouldn't go away.</a>
                            </h1>
                            <div class="article-content">
                                <p>I went to about a hundred doctors but none of them could help me... So what Leo did was he went into Mexico, and brought back this fat lady witch doctor who did this mumbo-jumbo and fixed me right up. I was grateful, but somehow I thought I might've been better off mute.</p>
                            </div>
                        </article>
                        <article class="article">
                            
                            <ul class="article-categories">
                                <li>
                                    <a href="/">Category 1</a>
                                </li>
                                <li>
                                    <a href="/">Category 1</a>
                                </li>
                            </ul>
                            <time class="article-date">October 17, 2008</time>
                            <h1 class="article-title">
                                <a href="post.html">All in all, I had a very happy childhood.</a>
                            </h1>
                            <div class="article-content">
                                <p>My father was a border guard, who spent most of his life trying to keep people from crossing lines. Every night for 15 years, he'd go out and smooth down the road between Mexico and Arizona, and every morning he'd be out there looking for footprints in the dirt. But my father always said that work was like a hat you put on your head. And even if you didn't have pants, you didn't have to walk down the street ashamed of your ass, so long as you had a hat.</p>
                            </div>
                        </article>
                    </div>
                  </div>
                  <div id="tabs-3">
                    <h2>Ratings &amp; Reviews</h2>
                    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                  </div>
              </div>
          </div>
      </div>


      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->

      <script src="https://code.jquery.com/jquery-3.4.1.js"
              integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
              crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
              integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
              crossorigin="anonymous"></script>
      <script src="js/script.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>