<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Evil Corp</title>

      <link href="css/mainPageStyle.css" rel="stylesheet">
      <link href="fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

   </head>
   <body>
      <header></header>
      <section class ="box1">
         <img src="img/logo.png" alt="E corp" id="logo">
         <div class = "container">
             <form action="/processLink" method="post">
                 <input type="search" class="lead" id="searchBar" name="searchBar" placeholder="Paste a URL for an Amazon product here...   " />
                 <button type="submit" id="SearchButtonIcon"><i class="fas fa-search"></i></button>
             </form>
         </div>
      </section>
      <section class="box2">
         <div class="d-flex justify-content-around">
            <div class="row">
               <div class="col-sm-4">
                  <i class ="fas fa-search fa-3x" id="intro_search"></i>
                  <div class="intro_text">
                     Paste the product link for an item you intend to purchase from Amazon.com into the search bar above. 
                     Our website will then fetch information regarding the company who is selling the product you are interested in.
                  </div>
               </div>
               <div class="col-sm-4">
                  <img src ="img/devil.png" alt="E corp" id="intro_devil">
                  <div class="intro_text">
                     Review the corporate social responsibility and sustainability ratings obtained from CSRhub.com about your company,
                     as well as Evilcorp.com user submitted ratings and reviews.
                  </div> 
               </div>
               <div class="col-sm-4">
                  <i class="fas fa-shopping-bag fa-3x" id="intro_shopping"></i>
                  <div class="intro_text">
                     Purchase products with confidence, knowing that you are transacting with ethically sound and sustainable businesses.
                  </div>
               </div>
            </div>   
         </div>
      </section>
      <footer id="sticky-footer">
            <div class="container-fluid extend">
                <div class="row">
                </div>
            </div>
      </footer>

      <script src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
      <script src="js/main.js" defer></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>  
   </body>
</html>
